.btn {
    outline: none;
    border: none;
    cursor:pointer;
    &.btn_form {
        background:$color__black;
        color:$color__white;
        padding: 6px; 
    }
}

.btn_products {
    @extend %df-center;
    color:$color__white;
    @include my(15px,0);
}