body {
    font-family: $font-family-general;
    margin: 0;
    padding: 0;
    
}

li {
    list-style-type: none;
    
}

a {
    transition-duration: none;
}

.container {
    @extend %container;
    position: relative;
    @media (max-width:$desktop-sm - 1){
        @include px(12px);
    }
}

.swiper{
    width: 100%;
    height: 100%;
  
}

.slide-reviews{
    @include wh(750px ,210px);
    margin-top: 25px;
    @include py(15px ,15px);
    @include px(20px ,20px);
    @media (max-width:$tablet-sm - 1){
        @include wh(400px ,210px);
    }
}

.bg-default{
    background: $bg;
    background: $bg-linear;
}