.h1{
    @include fs-lh(75px ,80px);
    color: $color__white;
    display: block;
    text-align: center;
    margin: 0;
    @media (max-width:$tablet-sm - 1){
        @include fs-lh(32px ,30px);
    }
}
.h2{
    @include fs-lh(52px ,60px);
    color: $color__black;
    display: block;
    text-align: center;
    margin: 0;
    @media (max-width:$tablet-sm - 1){
        @include fs-lh(25px ,28px);
    }
}