.about{
    @include py(40px);
    &__wrapper{
        display: flex;
        justify-content: center;
        @media (max-width:$tablet-sm - 1){
            flex-direction: column;
        }
    }
    &__icon{
        width: 100%;
        margin-right: 150px;
        max-width: 300px;
        max-height: 380px;
        .img-fluid{
            @include wh(100% ,100%);
            border-radius: 10px;
        }
    }
    &__descr{
        max-width: 500px;
        @include fs-lh(28px,33px);
        font-weight: $font-w500;
        color: $color__white;
    }
    &__items{
        @include py(40px ,0);
        display: flex;
        justify-content: center;
        margin: 0;
        @media (max-width:$tablet-sm - 1){
           padding-left: 0;
        }
    }
    &__item{
        margin-right: 10px;
        @include fs-lh(28px,33px);
        font-weight: $font-w500;
        color: $color__black;
        @media (max-width:$tablet-sm - 1){
            @include fs-lh(16px,18px);
        }
    }

}