.products{
    @include py(100px ,100px);
    &__wrapper{
        @extend %d-around;
        @media (max-width:$tablet-md){
           flex-direction: column;
           justify-content: center;
        }
    }
    &__left {
        @media (max-width:$tablet-md){
           display: flex;
           flex-wrap: wrap;
        }
    }
    &__right {
        @media (max-width:$tablet-md){
           display: flex;
           flex-wrap: wrap;
        }
    }
    &__center {
        @media (max-width:$tablet-md){
            @include my(20px);
        }
    }
    &__items{
        display: flex;
        align-items: center;
        @include my(0,40px);
        @media (max-width:$tablet-md){
            @include mx(0,25px);
        }
    }
    &__img{
        @include wh(110px ,110px);
        @include mx(0,20px);
        .img-fluid{
            border-radius:100%;
            @include wh(100% ,100%);
        }
    }
    &__text{
        @include fs-lh(22px,28px);
        font-weight: $font-w500;
        color: $color__white;
    }
    &__preview{
        @include wh(180px ,270px);
        @include my(95px,0);
        margin-top: 95px;
        @media (max-width:$tablet-md){
            @include wh(100%);
            @include my(0px,0);
            display: flex;
            justify-content: center;
        }
        .img-fluid{
            @include wh(100% ,100%);
            @media (max-width:$tablet-md){
                @include wh(150px ,250px);
            }
        }
    }
       
}