.reviews{
    
    
    &__items{
        margin-top: 40px;
       display: flex;
       justify-content: center;
    }
    &__img{
        @include wh(150px ,150px);
        margin-right: 70px;
        .img-fluid{
            border-radius:100%;
            @include wh(100% ,100%);
        }
    }
    &__subtitle{
        @include fs-lh(26px,30px);
        font-weight: $font-w500;
        color: $color__white;
        margin-bottom: 25px;
    }
    &__text{
        @include fs-lh(18px,22px);
        width: 300px;
        font-weight: $font-w300;
        color: $color__white;

    }
}