$color__white: #FFFF;
$color__black: #252428;


$font-family-general: 'Ubuntu', sans-serif;

$font-w300: 300;
$font-w400: 400;
$font-w500: 500;

$bg: #b5bdc8;
$bg-linear: linear-gradient(to top, #b5bdc8 0%, #828c95 36%, #28343b 100%);

    